# header{
    background-position: center;
    text-align: center;
    color: bisque;
}
#body{
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
}
#Container{
    background-color: burlywood;
    widows: 900px;
    margin-right:auto;
    margin-left:auto;
}
# content {
    Padding: 15px;
}



