* {
    box-sizing: content-box;
    padding:5px;
    margin: 5px;
}
#header {
    background-position: center;
    text-align: center;
    color: bisque;
    background-color: burlywood;
}
h1 {
    font-style:Slab Serifs;
    text-align: center;
    color: blue;
}
body {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: cadetblue;
}
button {
      
    background-color:grey;
    color: whitesmoke;
    padding:5px;
    font-size:18px; 
}
footer{ 
    text-align:center;
    Color: black;
    font:small-caption;
    margin-top:15px
}   



