* {
    box-sizing: content-box;
    padding:5px;
    margin: 5px;
}
#header {
    background-position:center;
    text-align: center;
    text-decoration-line: inherit;
    color: bisque;
    
}
h1 {
    font-style:Instagram;
    font-size:50px
    color blue;
    text-align:center
    
}
body {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: cornflowerblue;
}
button {
      
    background-color:grey;
    color: whitesmoke;
    padding:5px;
    font-size:18px; 
}
footer{ 
    text-align: center;
    Color: black;
    font:small-caption;
    margin-top:15px
}   



